* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: white;
    --lightblue: rgb(181, 208, 232);
    --black: black;
    --blue: rgb(0, 97, 255);
    --txtline: 1.35;
    --langgray: rgb(153, 153, 153);
    --lightgray: rgb(221, 221, 223);
    --lightbrown: rgb(238, 233, 226);
    --hovop: 0.8;
    --purple: rgb(97, 8, 42);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/* for inner hero and inner footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* min-width: ; */
}
/* for sections in main */
.smallercontainer {
    max-width: 1000px;
    margin: 150px auto;
}
/* GENERAL */
nav a {
    text-decoration: none;
}
nav ul li {
    list-style-type: none;
}
h3 {
    font-size: 23px;
}
.d-flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
/* btns */
.btn {
    padding: 10px 12px;
    text-align: center;
    cursor: pointer;
    display: block;
}
.btn-blue, .btn-blue a {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
}
.btn-blue:hover {
    opacity: var(--hovop);
}
.btn-gray {
    border: 1px solid var(--black);
    background-color: var(--white);
}
.btn-gray:hover {
    background-color: var(--lightbrown);
    border: none;
}
.btn-gray a {
    text-decoration: none;
    color: var(--black);
}
/* HEADER */
header nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: var(--white);
    justify-content: space-between;
    padding: 0 10px;
}
header nav .d-flex {
    align-items: center;
}
header nav .logo {
    height: 27%;
    padding-right: 15px;
    cursor: pointer;
}
header nav ul li {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}
header nav ul li a {
    color: var(--black);
}
header nav ul li:hover {
    background-color: var(--lightbrown);
}
.dropdown {
    position: relative;
    cursor: pointer;
}
.dropdown-nav {
    position: absolute;
    left: 0;
    top: 80;
    background-color: var(--lightbrown);
    width: 230px;
    font-size: 13px;
    display: none;
}
.accedi {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--lightbrown);
    width: 230px;
    font-size: 13px;
    display: none;
}
.dropdown-nav ul li:first-of-type {
    font-weight: bold;
}
.accedi ul li:first-of-type {
    font-weight: bold;
}
.dropdown-nav ul li, .accedi ul li {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.dropdown:hover .dropdown-nav, .dropdown:hover .accedi {
    display: block;
}
.dropdown-nav ul li:hover, .accedi ul li:hover {
    background-color: var(--white);
}
.extrapage {
    color: red;
}
.hero {
    background-color: var(--lightblue);
    padding-top: 80px;
}
#index .hero .container {
    position: relative;
    bottom: -80px;
}
#index h1 {
    font-size: 76px;
    font-weight: bold;
    padding-bottom: 40px;
}
.hero img {
    width: 100%;
}
.w30 {
    width: 30%;
    line-height: var(--txtline);
    position: relative;
}
.w30 .btn {
    margin: 20px 0;
    width: 60%;
}
.w30 a {
    position: absolute;
    bottom: 90px;
    left: 0;
}
.w30 i {
    color: var(--black);
    font-size: 30px;
}
.w70 {
    width: 70%;
}
/* MAIN */
/* plans section */
h2 {
    font-size: 37px;
    padding-bottom: 35px;
}
#radiobtn-div {
    padding: 15px 0;
}
.button-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 20px;
    line-height: 24px;
}
.button-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--lightgray);
    border-radius: 50%;
}
.button-container:hover input ~ .checkmark {
    background-color: rgb(204, 204, 204);
} 
.button-container input:checked ~ .checkmark {
    background-color: var(--blue);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.button-container input:checked ~ .checkmark:after {
    display: inline-block;
}
.button-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--white);
}
#grid-plans {
    padding: 20px 0;
}
.col-plan {
    flex-basis: calc((100% - 80px) / 3);
    border: 1px solid var(--lightgray);
    min-height: 900px;
}
.middle-col-plan{
    margin: 0 40px;
}
.plan-type {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--lightgray);
}
.col-inner-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: var(--txtline);
}
.price {
    display: inline-block;
    font-weight: bold;
    padding: 10px 0;
}
.period {
    color: rgb(106, 103, 108);
}
.characteristics {
    padding: 35px 0;
}
.characteristics i {
    margin-right: 5px;
}
.single-char {
    padding-bottom: 18px;
}
.oppure {
    display: inline-block;
    padding: 20px 5px 30px 0;
    border-bottom: 1px solid var(--lightgray);
}
.buynow {
    color: rgb(19, 12, 227);
}
.col-plan h4 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 16px;
}
.blue-icon {
    color: var(--blue);
    padding-right: 5px;
}
.plan-main-char {
    padding-top: 10px;
}
/* team - enterprise */
#team-enterprise {
    min-height: 250px;
    border: 1px solid var(--lightgray);
    margin: 20px 0
}
#team-enterprise .team-inner-container {
    width: 95%;
    margin: 35px auto;
}
.col-team-left {
    flex-basis: 70%;
}
.col-team-left p {
    padding-top: 40px;
    line-height: var(--txtline);
}
.col-team-right {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.col-team-right .btn {
    width: 90%;
}
/* entra in contatto section */
.col-entra-left {
    flex-basis: 60%;
    position: relative;
}
.col-entra-left img {
    width: 100%;
}
.col-entra-left span {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 250px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    color: rgba(30, 30, 30);
}
.col-entra-left span:hover {
    background-color: rgba(30, 30, 30, 0.188);
}
.col-entra-left span:active i {
    transform: scale(1.3);
}
.col-entra-right {
    flex-basis: 40%;
    padding-top: 35px;
}
.col-entra-right p {
    padding-top: 12px;
    padding-bottom: 23px;
}
.col-entra-right .btn {
    width: 55%;
}
/* business operation section */
.card {
    flex-basis: calc(100% / 3);
    min-height: 500px;
    padding-right: 55px;
    padding-top: 15px;
}
.card-img {
    height: 50%;
}
.card-img img {
    width: 100%;
}
.card-txt {
    height: 50%;
    line-height: var(--txtline);
}
.card-txt h3 {
    padding-bottom: 20px;
}
/* 500mila section */
#more500 h2 {
    width: 60%;
    line-height: var(--txtline);
}
#more500 span {
    display: inline-block;
    padding-top: 25px;
}
/* logos section */
.logos {
    width: 30vw;
}
.logos-center {
    width: calc(100% - 60vw);
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
    height: 30vw;
}
.logos-center img {
    width: 50%;
    padding: 35px;
}
.logos-center hr {
    width: 65px;
    margin-left: 35px;
    color: rgb(213, 213, 216);
}
.logos-center div {
    padding: 35px;
    line-height: var(--txtline);
}
.square {
    width: 15vw;
    height: 15vw;
    justify-content: center;
    cursor: pointer;
}
.square:hover {
    opacity: var(--hovop);
}
.square img {
    filter:invert(1);
    width: 50%;
}
.s1 {
    background-color: rgb(162, 211, 155);
    border: 10px solid rgb(209, 233, 205);
}
.s2 {
    background-color: rgb(97, 8, 43);
}
.s3 {
    background-color: rgb(0, 147, 206);
    position: relative;
}
.s3 img {
    height: 30px;
    position: absolute;
    bottom: 6.5vw;
    left:3.5vw;
}
.s4 {
    background-color: rgb(255, 28, 28);
}
.s5 {
    background-color: rgb(213, 0, 31);
}
.s6 {
    background-color: rgb(180, 208, 231);
}
.s7 {
    background-color: rgb(13, 36, 129);
}
.s8 {
   background-color: rgb(255, 216, 48); 
}
/* porta dropbox business section */
.lightblue-row {
    background-color: var(--lightblue);
}
.lightblue-row > div {
    justify-content: space-between;
    align-items: baseline;
    padding: 120px 0;
    margin-top: 0;
}
.lightblue-row h2 {
    flex-basis: 50%;
    color: var(--purple);
    line-height: var(--txtline);
}
.porta-dropbox-right {
    flex-basis: 30%;
}
.porta-dropbox-right div.btn-gray {
    border: none;
}
/* faq section */
#faq h2 {
    padding-bottom: 50px;
}
details summary {
    list-style: none;
    font-weight: bold;
    font-size: 17px;
    border-top: 1px solid rgb(169, 169, 169);
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
details summary:hover {
    background-color: var(--lightbrown);
}
details summary div {
    font-size: 15px;
    padding-right: 30px;
    cursor: pointer;
}
details summary div:active i {
    transform:scale(1.5);
}
details p {
    line-height: var(--txtline);
    padding: 15px;
}
details:last-of-type {
    border-bottom: 1px solid rgb(169, 169, 169);
}
/* FOOTER */
footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding-top: 60px;
}
footer nav {
    padding-bottom: 100px;
}
footer .col-nav {
    flex-basis: calc(100% / 5);
    line-height: 2;
}
footer h3 {
    padding-bottom: 10px;
}
footer nav ul li a {
    color: var(--white);
}
footer nav ul li a:hover {
    text-decoration: underline;
}
footer section div {
    display: inline-block;
    border-top: 1px solid white;
    color: var(--langgray);
    padding: 30px 0;
}
footer select {
    background-color: var(--black);
    color: var(--langgray);
    margin: 0 5px;
    border: none;
    cursor: pointer;
}
/* PARTNER PAGE */
#partnerpage .hero .container {
    padding: 100px 0;
}
#partnerpage .colw60 {
    width: 60%;
    padding: 35px 35px 0 0;
}
#partnerpage .colw60 div {
    width: 60%;
    margin-top: 30px;
    line-height: var(--txtline);
}
#partnerpage p {
    font-size: 17px;
    line-height: var(--txtline);
}
#partnerpage .colw60 div .btn-gray {
    border: none;
    width: 60%;
}
#partnerpage .colw40 {
    width: 40%;
}
#partnerpage .colw40 img {
    width: 100%;
}
#partnerpage h1 {
    font-size: 55px;
    color: var(--purple);
}
#partnerpage main section {
    margin: 150px auto;
}
#partnerpage .col-entra-left img {
    width: 590px;
    height: 500px;
}
#partnerpage .col-entra-right {
    padding: 0 50px;
}
#partnerpage h2 {
    font-size: 45px;  
}
#partnerpage .certificazione {
    width: 70%;
}
#partnerpage .lightblue-row {
    margin-bottom: 0;
    padding-top: 30px;
}
#partnerpage .lightblue-row h2 {
    flex-basis: 70%;
    line-height: 1;
}
#partnerpage .porta-dropbox-right {
    flex-basis: 20%;
    padding-right: 25px;
}