* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: white;
    --lightblue: rgb(181, 208, 232);
    --black: black;
    --blue: rgb(0, 97, 255);
    --txtline: 1.3;
    --langgray: rgb(153, 153, 153);
    --lightgray: rgb(221, 221, 223);
}
body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/* for inner hero e inner footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* min-width: ; */
}
/* for sections main */
.smallercontainer {
    max-width: 1000px;
    margin: 150px auto;
}
/* header */
header nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: var(--white);
    justify-content: space-between;
    padding: 0 10px;
}
header nav .d-flex {
    align-items: center;
}
header nav .logo {
    height: 27%;
    padding-right: 15px;
    cursor: pointer;
}
header nav ul li {
    list-style-type: none;
    padding: 0 15px;
    cursor: pointer;
}
.btn {
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
}
.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}
#hero {
    background-color: var(--lightblue);
    padding-top: 80px;
}
#hero .container {
    position: relative;
    bottom: -80px;
}
h1 {
    font-size: 76px;
    font-weight: bold;
    padding-bottom: 40px;
}
.d-flex {
    display: flex;
}
#hero img {
    width: 100%;
}
.w30 {
    width: 30%;
    line-height: var(--txtline);
    position: relative;
}
.w30 .btn {
    margin: 20px 0;
    width: 60%;
}
.w30 a {
    position: absolute;
    bottom: 90px;
    left: 0;
}
.w30 i {
    color: var(--black);
    font-size: 30px;
}
.w70 {
    width: 70%;
}
/* main */
/* plan section */
#plans h2 {
    font-size: 37px;
    padding-bottom: 25px;
}
.radio-div {
    height: 50px;
    padding-right: 30px;
}
.radio-div span {
    line-height: 50px;
}
.circle {
    display: inline-block;
    background-color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}
#checked {
    border: 6px solid var(--blue);
}
#non-checked {
    border: 3px solid var(--lightgray);
}
#grid-plans {
    padding: 20px 0;
}
.col-plan {
    width: calc((100% - 80px) / 3);
    border: 1px solid var(--lightgray);
    min-height: 900px;
}
.middle-col-plan{
    margin: 0 40px;
}
.plan-type {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--lightgray);
}
.col-inner-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: var(--txtline);
}
.col-inner-container h3 {
    font-size: 23px;
}
.price {
    display: inline-block;
    font-weight: bold;
    padding: 10px 0;
}
.period {
    color: rgb(106, 103, 108);
}
.characteristics {
    padding: 35px 0;
}
.characteristics i {
    margin-right: 5px;
}
.single-char {
    padding-bottom: 18px;
}
.oppure {
    display: inline-block;
    padding: 20px 5px 30px 0;
    border-bottom: 1px solid var(--lightgray);
}
.col-plan h4 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 16px;
}
.blue-icon {
    color: var(--blue);
    padding-right: 5px;
}
.plain-main-char {
    padding-top: 10px;
}
/* footer */
footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding-top: 60px;
}
footer nav {
    padding-bottom: 100px;
}
footer h3 {
    padding-bottom: 10px;
}
footer .col-nav {
    width: calc(100% / 5);
    line-height: 2;
}
footer .col-nav ul li {
    list-style-type: none;
    cursor: pointer;
}
footer section div {
    display: inline-block;
    border-top: 1px solid white;
    color: var(--langgray);
    padding: 30px 0;
}
footer select {
    background-color: var(--black);
    color: var(--langgray);
    margin: 0 5px;
    border: none;
    cursor: pointer;
}